table {
  width: 100%;
}

.button-size {
  width: 75%;
  margin-bottom: 30px;
}

ion-content {
  padding-bottom: 20px;
}

ion-card {
  background-color: white;
  margin-top: 10px;
}

.extra-padding {
  margin-top: 35px;
}

.row-spacing {
  margin-top: 5px;
}

.mat-cell {
  padding: 4px;
}

.mat-row:hover {
  background-color: whitesmoke;
}