ion-card {
  background-color: white;
}

.row {
  text-align: center;
}

ion-title {
  text-align: center;
}

#notifications-badge {
  background-color: var(--ion-color-secondary);
  color: var(--ion-color-dark);
  position: absolute;
  top: 8px;
  right: 20px;
  height: 25px;
  width: 25px;
  padding-top: 5px;
  border-radius: 50%;
  text-align: center;
}

.featureHome {
  height: 85px;
  width: 110px;
  border-radius: 15%;
  background-color: var(--ion-color-light);
  color: var(--ion-color-primary-dark);
}

.disabledFeatureHome {
  height: 85px;
  width: 110px;
  border-radius: 15%;
  background-color: white;
  color: #d1f39c;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.grid {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 0%;
}

.iconAppearence {
  zoom: 2.3;
}

.lowerDiv {
  height: 20%;
  width: 100%;
}

.upperDiv {
  width: 100%;
}

ion-col {
  padding: 2%;
}

.diabledText {
  color: #777a71;
}

.titleHeader {
  font-size: larger;
}