ion-list {
  width: 100%;
  margin-left: 8px;
}

ion-card {
  cursor: pointer;
  padding: 0 3px 3px 3px;
  background-color: white;
}

ion-fab {
  // Use transform to move FAB up from bottom
  // Footer is 60px + 25px spacing = 85px
  transform: translateY(-85px);
  z-index: 1001;

  // Additional safe area support for devices with notches
  @supports (padding-bottom: env(safe-area-inset-bottom)) {
    transform: translateY(calc(-85px - env(safe-area-inset-bottom)));
  }
}

.row-spacing {
  margin-top: 15px;
}

ion-avatar {
  width: 80px;
  height: 80px;
  padding-left: 0;
}

.floating-button {
  width: 100%;
  position: fixed;
  bottom: 1.5%;
  text-align: center;
}
ion-icon {
  color: blue;
}
.locationIcon {
  zoom: 2;
  padding: 3px;
}
::ng-deep.mat-slide-toggle.mat-checked:not(.mat-disabled)
  .mat-slide-toggle-bar {
  background-color: blue;
}

::ng-deep.mat-slide-toggle.mat-checked:not(.mat-disabled)
  .mat-slide-toggle-thumb {
  background-color: blue;
}