.display-full-width {
  width: 100%;
  padding-top: 3%;
}

.button-size {
  width: 180px;
  margin-bottom: 22px;
}

.radio-group {
  display: flex;
  flex-direction: row;
  margin: auto;
}

.radio-button {
  padding: 0.5%;
  margin-right: 3%;
  margin-top: 1.5%;
}

::ng-deep .mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
  background-color: var(--ion-color-primary-light);
}

::ng-deep .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
  background-color: var(--ion-color-primary);
}